body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f3c1b8;
    font-size: 18px;
    font-family: 'century gothic';
}
.header{
    margin: 0;
    padding: 0;
}
.split_screen{
    display: flex;
}
.container{
    width: 400px;
    max-width: 400px;
    margin: 18px;
    padding: 36px;
    box-shadow: 0 0 40px black;
    border-radius: 10px;
    background-color: whitesmoke;
}

.input_field i{
    cursor: pointer;
}